<div ng-repeat="contact in contacts | filter: searchText">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-11">
                {{contact.name}}
                {{contact.email}}
                {{contact.birthday}}
                {{contact.phone}}
                {{contact.mobile}}
            </div>
            <div class="col-xs-1">
                <button class="btn btn-danger fa fa-trash-o" ng-click="deleteContact(contact.id)"></button>
            </div>
        </div>
    </div>
</div>
